<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Frequently Asked Questions" content="">
    <meta name="Adam, Conor" content="">

    <title>Airsoft Ireland FAQ</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/airsoft-ireland.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Airsoft Ireland</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="WhereToPlay.html">Where to play</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
					<li>
                        <a href="legal.html">Legal Information</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Useful info <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="beginnerTips.html">Beginners tips</a>
                            </li>
                            <li>
                                <a href="indoorVsOutdoor.html">Indoor versus outdoor</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
							<li>
							<a href="safetyInfo.html">Safety Info</a>
							</li>
                  
                        </ul>
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Retailer info<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="irishRetailers.html">Irish Retailers</a>
                            </li>
                            <li>
                                <a href="airsoftBrands.html">Airsoft Brands</a>
                            </li>
                         
                        </ul>
                    </li>
					
					 </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Are airsoft replicas legal in Ireland?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">In Ireland airsoft replicas are legal provided they fire at under 1 joule of energy. If that sounds confusing, don't worry - it just means that the guns are all limited to the same power over here. So if you're buying Irish, there's nothing to worry about. However if you're buying elsewhere, just be sure that the gun fires at less than 328 fps with a 0.20g BB. They are classified as RIF's (Realistic Imitation Firearms) in law as opposed to toys, so they cannot be used in public. Private property is fine (as long as it's out of public site/access) e.g. your house/garden, however the best place to use them is on dedicated land i.e. skirmish sites and target ranges set up specifically for airsoft.
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How powerful are airsoft replicas?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                               There is a maximum power of 1 joule for airsoft guns in Ireland, however the vast majority of them will be firing under this limit. Generally speaking the guns will fire at 0.90J (310 fps w/0.20g BB), and reach a distance of circa 40m. It's not enough to break skin under normal use, and getting shot is like a very powerful flick (in a small concentrated area)...so it stings, but that's all!
							   </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Is airsoft like paintball?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Airsoft plays similarly to paintball, games are played with two teams against eachother with lives, and objectives, but it is signifigantly cheaper, with 100 painballs coming in at around 8 euro in comparison to 5000 airsoft BBs for the same price. airsoft is also more realistic with replicas being in most cases 1:1 of the real thing
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What is a Hop-Up?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Hop-Up is used to put spin on the BB, to eliminate an offset caused by gravity, air friction and the wind making the BB travel further. When the BB is launched, there is a friction put on the upper side of it by the Hop-up causing the BB to spins upwards
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What is an "AEG"?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                AEG stands for "Automatic Elecetric Gun", they are battery powered and reliable, becuase of this AEGs are the the most commonly used type of replica on the field because AEGs run in any weather, they are low cost to run and repair. 
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Can an airsoft replica hurt?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                               Airsoft replicas in ireland are restricted to 1 Joule of power (or 328 feet per second), due to this an airsoft bb will not break the skin but it could easily damage your eyes or teeth, always wear full face protection when operating an airsoft replica, please click here // link// to view our safety guide.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Where can i buy airsoft equipment?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                 There are many retailers of airsoft equipment in ireland, most are walk in stores but there are also some online only retailers in ireland, for a comprehensive list of all known retailers click here // link // 
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What equipment do i need to start airsoft?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                To start airsoft all you need is a full face protetive face mask, and your own airsoft replica, these can be gotten at any airsoft retailer, however if you just want to try airsoft, any airsoft arena will offer a rental service click here for more details // link //
                            </div>
                        </div>
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Airsoft Ireland</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
