<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Airsoft Brands" content="">
    <meta name="Adam, Conor" content="">

    <title>Airsoft Ireland Airsoft Brands</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/airsoft-ireland.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Airsoft Ireland</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="WhereToPlay.html">Where to play</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
					<li>
                        <a href="legal.html">Legal Information</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Useful info <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="beginnerTips.html">Beginners tips</a>
                            </li>
                            <li>
                                <a href="indoorVsOutdoor.html">Indoor versus outdoor</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
							<li>
							<a href="safetyInfo.html">Safety Info</a>
							</li>
                  
                        </ul>
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Retailer info<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="irishRetailers.html">Irish Retailers</a>
                            </li>
                            <li>
                                <a href="airsoftBrands.html">Airsoft Brands</a>
                            </li>
                         
                        </ul>
                    </li>
					
					 </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Airsoft Brands
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Airsoft Brands</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
		        <div class="row">
            <div class="col-lg-12">
                <p>In Ireland we have a multitude of airsoft replica brands to choose from, these include:</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 img-portfolio">
                <a href="http://www.guay2.com/">
                    <img class="img-responsive img-hover" src="gg.jpg" alt="">
                </a>

                <h3>
                    <a href="http://www.guay2.com/">G&G </a>
                </h3>
                <p>A Taiwan based company that is highly recommended by the team at Ireland Airsoft to all players, G&G offer almost every single replica that is on the market, with variations on each type for player individuality.
This starting and intermediate brand is known for being reliable, accessible and affordable for all airsoft players and is what I personally recommend to anyone getting into airsoft.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://gpairsoft-uk.com/shop/en/">
                    <img class="img-responsive img-hover" src="GP.jpg" alt="">
                </a>
                <h3>
                    <a href="http://gpairsoft-uk.com/shop/en/">G&P </a> 
                </h3>
                <p> A Hong Kong based company that is known for external body work, G&P are an expensive brand that focuses on form over functionality recommended for replica collectors, due to a lack of support from Irish retailers, G&P replicas need to be ordered in.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://www.tokyo-marui.co.jp/">
                    <img class="img-responsive img-hover" src="tm.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.tokyo-marui.co.jp/">Tokyo Marui </a>
                </h3>
                <p>Tokyo Marui are a Japanese based company known for the highest level equipment, Tokyo Marui is the company that created the airsoft gearbox making it the sport we know it as today, and to this day lead the wave of innovation within the sport, they have a selection of replicas that is unmatched in quantity, it is well known that if it exists Tokyo Marui have already made it, replicas from Tokyo Marui are expensive with very few retailers stocking equipment from them, however they are unmatched in quality, performance and innovation.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://shop.ehobbyasia.com/aeg/china-aegs/cyma/index.html">
                    <img class="img-responsive img-hover" src="cyma.jpg" alt="">
                </a>
                <h3>
                    <a href="http://shop.ehobbyasia.com/aeg/china-aegs/cyma/index.html">CYMA </a>
                </h3>
                <p>A Chinese based company known for extremely robust and reliable Russian equipment and replicas, they are some of the lowest cost replicas on the market however are prone to external damages due to a lower build quality and weaker metals, Cyma truly choose functionality over form.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://www.kingarms.com/">
                    <img class="img-responsive img-hover" src="KA.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.kingarms.com/">King Arms </a>
                </h3>
                <p> A Hong Kong based company known for entry and intermediate level equipment, however they are known more for accessories and BBs over their replicas as there is not a great deal of support from retailers for King Arms replicas.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://www.gb-tech.com.tw/VFC">
                    <img class="img-responsive img-hover" src="vfc.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.gb-tech.com.tw/VFC">VFC </a>
                </h3>
                <p> A Taiwan based company that specialises in extremely accurate, finely detailed external body work, unfortunately though the internals are known to be of a lesser quality and suffer from a proprietary system, VFC replicas are very expensive however, externally they cannot be beaten, for some the high quality externals are worth the investment. </p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://shop.ehobbyasia.com/aeg/china-aegs/d-boy/index.html">
                    <img class="img-responsive img-hover" src="dboy.jpg" alt="">
                </a>
                <h3>
                   <a href="http://shop.ehobbyasia.com/aeg/china-aegs/d-boy/index.html">D|Boys </a>
                </h3>
                <p>A Chinese based company that is known for very affordable replicas, however they are known for structural weaknesses and poor quality internals, we at Ireland Airsoft recommend that you look at the CYMA brand over D|Boys.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://www.icsbb.com/ICS">
                    <img class="img-responsive img-hover" src="ics.jpg" alt="">
                </a>
                <h3>
                    <a href "http://www.icsbb.com/ICS">ICS </a> 
                </h3>
                <p> A Taiwan  based company that is known for uniquely designed replicas with innovative gearbox design that focuses on upgradeability, ICS replicas are hard to find but are affordable and preform well under long term use and are recommended by the team at Ireland Airsoft.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="https://kwausa.com/under-construction/">
                    <img class="img-responsive img-hover" src="kwa.jpg" alt="">
                </a>
                <h3>
                  <a href "https://kwausa.com/under-construction/">KWA </a>
                </h3>
                <p>An American based company that is known for very reliable high quality replicas, only recently we have been exposed to KWA and they have proven to be functional and reliable but a slightly expensive for what they are due to it being an American based company.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Airsoft Ireland</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
